<ActionBar>
  <Label text="Urban Metro Railway Official"></Label>
</ActionBar>

<GridLayout class="page__content">
    <ScrollView>
		<StackLayout>
			<GridLayout rows="*, *, *" columns="80, *" class="form">
				<Label row="0" col="0" text="Hotline:" horizontalAlignment="right" class="label" ></Label>
        <label row="0" col="1" text="1800 666 888" class="input input-border"></label>
				<Label row="1" col="0" text="Address:" horizontalAlignment="right" class="label" ></Label>
        <label row="1" col="1" text="No 1, Ben Thanh Ward, District 1, Ho Chi Minh City" class="input input-border"></label>
				<Label row="2" col="0" text="About:" horizontalAlignment="right" class="label" ></Label>
        <textarea row="2" col="1" text="NativeScript Playground is a browser-based environment for developing simple NativeScript apps. It’s a great place to get started learning NativeScript, as you can develop apps without needing to install the various SDKs and tools needed for native iOS and Android development. All you need to complete this guide is an iOS or Android device." class="input input-border"></textarea>
			</GridLayout>
		</StackLayout>
	</ScrollView>
</GridLayout>
